$classPrefix: 'infinity-';
$fontSizes: 12, 14, 16, 20, 24, 32;
:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #595cff;
  --light-purple: #8c8eff;
  --dark-purple: #383be4;
  --snow: #f9f9fb;
  --pale-grey: #f0f0f5;
  --light-grey: #e6e6eb;
  --grey: #afb1bd;
  --dark-grey: #82828b;

  --primary: #6f4ef3;
  --green: #05a660;
  --red: #ff3b3b;
  --grey-100: #a5b4cb;
  --grey-200: #7d8da6;
  --grey-300: #dfe5f1;
  --yellow: #fab035;
  --blue: #377dff;
}

$colorsInHex: (
  'black': #000000,
  'white': #ffffff,
  'purple': #595cff,
  'light-purple': #8c8eff,
  'dark-purple': #383be4,
  'snow': #f9f9fb,
  'pale-grey': #f0f0f5,
  'light-grey': #e6e6eb,
  'grey': #afb1bd,
  'dark-grey': #82828b,

  'primary': #6f4ef3,
  'green': #05a660,
  'red': #ff3b3b,
  'grey-100': #a5b4cb,
  'grey-200': #7d8da6,
  'grey-300': #dfe5f1,
  'yellow': #fab035,
  'blue': #377dff,
);
$borderRadiusSizes: 6;
$marginAndPaddingSizes: 4, 8, 16, 24, 32, 40;
