@use 'sass:map';

button {
  cursor: pointer;
  transition: ease 0.3s;
}

.btn-#{$classPrefix}primary {
  color: var(--white);
  background-color: var(--purple);
  border: 1px solid var(--purple) !important;
}

.btn-#{$classPrefix}primary:hover,
.btn-#{$classPrefix}outline:hover {
  color: var(--white);
  background-color: lighten(map.get($colorsInHex, 'purple'), 5%);
  border: 1px solid lighten(map.get($colorsInHex, 'purple'), 5%) !important;
}
